body {
    font-family: 'Varela Round', sans-serif;
}

.navbar {
    box-shadow: 0px 2px 10px black;
}

.nav-link {
    transition: color 1s ease;
}

#headerSection {
    background: url('../images/headerBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

#headerSection .row {
    height: 100vh;
}